.swipers {
    width: 100%;
    height: 100%;
  }
  
  .swiperSlides {
    width: auto !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }
  
  .swiperSlides img {
    display: block;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
  }