.Container {
    width: 100%;
    height: 100vh;
    padding: 10% 5%;
    padding-bottom: 2%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: calc(5% + 2vw);
}

.Items {  
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Swipers {
    width: 100% !important;
    height: 100% !important; 
    transition: 1s !important;
  }
  
  .Swiper_slide {
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
    transition: .7s !important;
  }
  .MovieCard {
      position: absolute !important;
      width: 50%;
      left: 45% ;
      top: 10vw ;
      border: none !important;
  }

  .SwiperItem {
      width: 100%;
  }
  .PlayMovie {
      width: 8vw;
      height: 8vw;
      background-color: #6C63FF26;
      border-radius: 50%;
      padding: 1.2vw; 
      position: absolute; 
      z-index: 300; 
      /* top: 5vw; */
      animation: pulse 1500ms infinite;
      cursor: pointer;
  }
  .PlayMovie:hover {
      transform: scale(1.05);
      transition-duration: .5s;
      box-shadow: 0 0 50px 0 #33b3aacc;
  }
  .PlayMovie span {
      background-color: #FFFFFF4D;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
  }
  @keyframes pulse {
      0% {
          box-shadow: #6C63FF26 0 0 0 0;
      }
      100% {
          box-shadow: #ff69b400 0 0 0 26px;
      }
  }
.Movies {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Title {
    font-size: 8vw;
    font-weight: 300;
}
.PlaySwiper {
    width: 3vw;
    height: 10vw;
    background-color: rgba(95, 94, 94, 0.324);
    /* margin-left: 20vh; */
    position: absolute;
    right: 0;
}
.Buttons {
    color: #fff !important;
    padding: 0.5vw 2vw !important;
    border: 1px solid #fff !important;
    border-radius: 50px !important;
    text-transform: capitalize !important;
    font-size: 1vw !important;
  }

@media (max-width: 650px) {
    .Container {
        padding-top: 15%;
        height: auto !important;
    }
    .PlayMovie {
        width: 20vw !important;
        height: 20vw !important;
        margin-top: 10vw;
        padding: 3vw !important;
    }

    .PlayMovie .PlayIcon {
        font-size: 10vw !important;
    }
    .Title {
        font-size: 8vw !important;
        padding-top: 30px;
        text-align: center;
    }
   
    .Buttons {
        font-size: 2vw !important;
        
    }
    .ButtonDiv {
        display: flex !important;
        justify-content: center !important;
    }
    .MovieCard {
        top: 45vw !important;
    }
}
@media (max-width: 900px) {
    .Title {
        font-size: 3.5rem;
        text-align: center;
    }
    .Items   {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
    .PlayMovie {
        width: 13vw;
        height: 13vw;
        padding: 2vw;
    }
    .Container {
        height: auto;
    }
    .Buttons {
        font-size: 1rem !important;
    }
    .ButtonDiv {
        display: flex !important;
        justify-content: center !important;
        margin-top: 15vw;
    }
    .MovieCard {
        left: 15% ;
        top: 25vw ;
        width: 70% ;
    }
}
@media (max-width: 1200px) {
    .Container {
        height: auto !important;
    }
    .ButtonDiv {
        margin-top: 100px !important;
    }
}
