.Container {
    width: 100%;
    height: auto;
    background: url(../assets/images/DC.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width:400px) {
    .Container{
        padding-bottom: 380px;

    }
}